footer {
    background-color: lightgreen;
    border: 5px solid green;
    padding: 20px;
}
#p1 {
    background-color: lightblue;
    border: 5px solid blue;
    padding: 40px;
}
.first-paragraph {
    color: rgb(251, 0, 255);
    font-weight: 500;
}
ß
.stop_but_style {
    color: rgb(164, 146, 10);
    font-weight: 200;
}

h1 {
    color: red;
    font-weight: 500;
}

p {
    color: black;
    padding: 32px;
    background-color: white;
    border: 3px dashed black;
    font-size: 24px;
}


